<div id="cheese-list">
  <div id="description">
    <p id="section-title">Currently Viewing</p>
    <span ng-if="!source">
      All Cheeses
    </span>
    <span ng-if="source">
      {{sourceLabel}}
    </span>
    <span ng-if="type">
      <span class="carat"> > </span>
      {{ typeLabel }}
    </span>
    <span ng-if="country">
      <span class="carat"> > </span>
      {{ country }}
    </span>
  </div>
  <div class="contents">
    <ul>
      <li ng-repeat="cheese in cheeses">
        <a href="/#/{{cheese._id}}">{{ cheese.name }}</a>
      </li>
    </ul>
    <div ng-if="cheeses" id="cheese-img">
    <!-- To prevent the image from flashing before data is rendered -->
      <img src="../../assets/images/cheese.png">
    </div>
  </div>
</div>