<div id="cheese-view">
  <div id="list-description">
    <p id="section-title">Currently Viewing</p>
    <span ng-if="!source">
      All Cheeses
    </span>
    <span ng-if="source">
      {{sourceLabel}}
    </span>
    <span ng-if="type">
      <span class="carat"> > </span>
      {{ typeLabel }}
    </span>
    <span ng-if="country">
      <span class="carat"> > </span>
      {{ country }}
    </span>
  </div>
  <ul>
    <li ng-repeat="cheese in cheeses">
      <a href='#/{{cheese.name}}'>{{ cheese.name }}</a>
    </li>
  </ul>
</div>