<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feelin' Cheesy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script type='text/javascript' src='/assets/js/app.js'></script>
    <script type='text/javascript' src='/d3/d3.js'></script>
    <script type='text/javascript' src='/assets/js/parse-cheese-data.js'></script>
    <script type='text/javascript' src='/assets/js/create-sunburst.js'></script>
    <script type='text/javascript' src='/assets/js/scripts.js'></script>
  </head>
  <body>


  <div id="top-border"></div>
  <div id="right-border"></div>
  <div id="bottom-border"></div>
  <div id="left-border"></div>
  <div id="title">
    <div id="title-text">Cheese<br />Wheel</div>
  </div>

  <!-- <div id="site-border"></div> -->
  <div id="site-wrapper">
    
    <div id="view-pane">
      <div id="cheese-wheel-legend"></div>
      <div id="cheese-wheel">&nbsp;</div>
    </div>

    <div id="search-pane" ng-app="CheesyDB">
      <div id="display-pane" ng-view>
      </div>
    </div>
  </div>


    

  </body>
</html>