<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feelin' Cheesy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type='text/javascript' src='/js/app.js'></script>
    <script type='text/javascript' src='/d3/d3.js'></script>
    <script type='text/javascript' src='/js/parse-cheese-data.js'></script>
    <script type='text/javascript' src='/js/create-sunburst.js'></script>
    <script type='text/javascript' src='/js/scripts.js'></script>
  </head>
  <body>

  <div id="site-wrapper">
  <h1 id="title">Feelin'Cheesy?</h1>
    <div id="search-pane">
      

    </div>

    <div id="view-pane">
      <div id="cheese_wheel_legend">&nbsp;</div>
      <div id="cheese_wheel">&nbsp;</div>
    </div>
    
  </div>


    

  </body>
</html>