@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@font-face {
  font-family: 'Ostrich Sans Bold';
  src: url('../fonts/OstrichSans-Bold.otf');
}

* {
  box-sizing: content-box;
}

html, body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

body { 
  font: 1rem 'Bree Serif';
  transition: all 0.5s ease-in-out;
}

#title {
  font-family: 'Ostrich Sans Bold';
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100%;
  
}


#title-text{
  text-align: center;
  border-radius: 50%;
  line-height: 1;
  border: 7px solid black;
  padding: 7% 5%;
  animation: spinIn 1.25s linear;
  background:
  repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 25%,
    rgba(254,191,86,0.3) 0,
    rgba(254,191,86,0.3) 50%
  ),
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25%,
    rgba(255,239,153,0.4) 0,
    rgba(255,239,153,0.4) 50%
  ), white;
  background-size: 1.85em 1.85em;
  background-blend-mode: multiply;
  background-attachment: fixed;
}



.carat {
  color: tomato;
}

#site-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#search-pane, #view-pane {
  float: left;
  height: 100%;
}


#search-pane {
  width: 40%;
  max-height: 100vh;
}

#section-title {
  font: 1.9rem 'Ostrich Sans Bold';
}

#list-description {
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0,0,0,0.5);
}

#list-description span{
  font: 1.4rem 'Oswald';
}

#view-pane {
  width: 60%;
  /*padding: 1%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
}

h1{ 
  margin: 0 auto; 
  font-size: 1.55rem;
}

p {
  font-size: 1.2rem;
  margin: 0 auto;
  color: tomato;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

#cheese-list {
  height: 90%;
  overflow: scroll;
  margin: 3% auto 7%;
  padding: 0 5%;
}

#cheese_wheel {
  position: relative;
  width: 70%;
  margin: 20px auto 0 -20px;
}

#cheese_wheel_legend {
  position: absolute;
  top: 0;
  width: 90%;
  margin: 10px auto 0;
  height: 100px;
  text-align: left;
}


@-webkit-keyframes title {
  0%{
    margin-top: 0%;
  }
  50%{
    margin-top: -50%;
  }
  100%{
    margin-top: -100%;
  }
}




@-webkit-keyframes spinIn {
  0%{
    margin-right: -150%;
    -webkit-transform: rotate(180deg);
  }

  25%{
    margin-right: -75%;
    -webkit-transform: rotate(90deg);
  }

  60%{
    margin-right: 0%;
    -webkit-transform: rotate(0deg);
  }

  70%{
    margin-right: 20%;
    -webkit-transform: rotate(-25deg);
  }
  100%{
    margin-right: 0%;
    -webkit-transform: rotate(0deg);
  }
}